<!DOCTYPE html>

<meta charset="UTF-8">

<html>
{% load static %}
{% load shopping_extras %}

<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="shortcut icon" type="image/png" href="{% static '/login_app/images/favicon.ico' %}" />
	<link href='{% static "/login_app/style.css" %}' rel='stylesheet' type='text/css'>

	<!-- Compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>

	<script>

		$(document).ready(function(){
			$('select').formSelect();
			

			$('.sidenav').sidenav();

			$("#close").click(function(){
				$("#pop-up").toggle();
			});


    		$('.collapsible').collapsible();
			$("#shipping_button").click(function(){
				$("#shipping_address").attr("disabled",this.checked);
				$("#shipping_City").attr("disabled",this.checked);
				$("#shipping_zip_code").attr("disabled",this.checked);
				$("#shipping_State").attr("disabled",this.checked);
				$('#shipping_country').formSelect();
				$("#shipping_country").attr("disabled",!this.checked);
			});

		 });
		  
	</script>
</head>

<body id="custombg">
	<!-- Navigation Bar -->
	<nav>
		<div class="nav-wrapper">
			<a href="/homepage" class="brand-logo" style="padding-left: 5px">Grocery Shopping</a>

			<!-- Target for the hamburger drop down menu when it's made too small-->
			<a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>


			<ul class="right hide-on-med-and-down">
				<li><a href="/">Item Browser</a></li>
				<li><a href="/search/"><i class="material-icons prefix">search</i></a></li>
				<li><a href="/orders"><i class="material-icons">monetization_on</i></a></li>
				<li><a href="/cart"><i class="material-icons">shopping_basket</i></a></li>
				<li><a id="darkbutton"><i class="material-icons">brightness_3</i></a></li>
			</ul>

			


		</div>

		<!--Pop-up Bar when the browser is made too small -->
		<ul class="sidenav" id="nav-mobile">
			<li><a href="#">Item Browser</a></li>
			<li><a href="/orders">Cart</a></li>
		</ul>
	</nav>		

	
	

	<div class="container" id="browserBody" style="background-color: white">
		{% if messages %}
			<ul class="collection" id="pop-up">
			{% for message in messages %}
				{% if message.tags == "success" %}
					<li class=" green accent-3 collection-item center-align">{{ message }}
						<a class="btn-flat waves-effect right-align" id="close">
							<i class="material-icons">close</i>
						</a>
					</li>
				{% else %}
					<li class=" red accent-2 collection-item center-align">{{ message }}
						<a class="btn-flat waves-effect right-align" id="close">
							<i class="material-icons">close</i>
						</a>
					</li>
				{% endif %}
			{% endfor %}
			</ul>
		{% endif %}
		<div class="card">
			<div class="row">
				<div class="col s12">
					<div class="col s12">
						<h1>Order Confirmation</h1>
					</div>
				</div>
			</div>

		<ul class="collapsible">
			<li>
				<div class="collapsible-header"><i class="material-icons">account_circle</i>Customer Information</div>
	      		<div class="collapsible-body">
      			<span>
		      		<h4>Order Placed: {{order.date}}</h4>
		      		<h5>Deliver to:</h5>
		      		<p>{{order.delivery_address.addressee}}</p>
		      		<p>{{order.delivery_address.street_name}}</p>
		      		<p>{{order.delivery_address.city}} {{order.delivery_address.state_abbreviation}}, {{order.delivery_address.zip_code}}</p>
		      		<h5>Final price: ${{order.total_price}}</h5>
	      		</span>
	      		</div>
			</li>
			<li>
			<div class="collapsible-header"><i class="material-icons">store</i>Store Information</div>
      		<div class="collapsible-body"><span>
      			{% if order.delivery_choice == 'P' %}
				Pick up your item(s) at the following stores:
				{% endif %}

				<ul class="collection">
					{% for store in stores %}
					<li class="collection-item">{{store.address}}</li>
					{% endfor %}

				</ul>

      			</span>

			</li>
			<li>
				<div class="collapsible-header"><i class="material-icons">local_grocery_store</i>Cart Information</div>
      			<div class="collapsible-body"><span>
      			<table>
					<thead>
						<th>Item Name</th>
						<th>Store</th>
						<th>Price</th>
					</thead>

					<tbody>
						{% for item in items %}
							<tr>
								<td>{{item.item}}</td>
								<td>{{item.store}}</td>
								<td>{{item.price}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</li>

		</ul>
		

</body>